{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}signup{% endblock %}

{% block content %}

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title mb-5">Sign Up</p>
      

      <div class="columns">
        <div class="column"></div>
        <div class="column is-4">
          <p class="mb-4 has-text-weight-semibold has-text-">{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
            {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
            
            <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
              {% csrf_token %}
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  {{ form.email|add_class:"input is-info" }}
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>

              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  {{ form.username|add_class:"input is-info" }}
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>

              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="field">
                <p class="control is-fullwidth mt-3">
                  <button class="button is-danger is-fullwidth">
                    Sign Up
                  </button>
                </p>
              </div>
            </form>




        </div>
        <div class="column"></div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
