{% extends "base.html" %}

{% block title %}
  Password Reset Done
{% endblock title %}

{% block content %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      

      <div class="columns">
        <div class="column"></div>
        <div class="column is-8">
            <p class="is-size-4 has-text-info">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>

        </div>
        <div class="column"></div>
      </div>

    </div>
  </div>
</section>

{% endblock %}

